<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="EjemploSQLCommandInsertar.Properties.Settings.cn"
   connectionString="Server=.;Database=Northwind;Integrated Security=True;TrustServerCertificate=True;Encrypt=True"
   providerName="Microsoft.Data.SqlClient" />
 </connectionStrings>
</configuration>